body {
    background-color: black;
}
h1 {
    color: goldenrod;
}
h1 {
    text-align: center;
}
h2{
    color: goldenrod;
}
h2{ text-align: center;
}
P{
    text-align: center:
}
P{
    color: green;
}
UL{
    color: red;
}
UL{
    text-align: center;
}
h3{ 
    text-align: center;
}
h3{ color: green;
}
h4{
  text-align: center
}
h4{
    color: goldenrod;
}
